.box {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    /* max-width: 1300px; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 18px;
}

.loading {
    font-weight: bold;
    font-size: 28px;
}